
/*Body Style*/
body {
    background-color: grey;
}
/*Header Style*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-style: italic;
    color: blanchedalmond;
    position: absolute;
    left: 0px;
    top: 200px; 
}
/*Image Style*/
img {
    display: inline;
    margin-top: 0px;
    margin-left: 190px;
    margin-right: auto;
    width: 30%;
    height: 250px;
    padding-top: 80px;
}
/*Navigation Style*/
header nav {
    margin: 0px 0;
}
header nav ul li {
    display: inline;
}

header nav ul li a {
    float: right;
    padding: 0 15px 0 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/*About me Section*/
section h2  {
    padding: 50px 0 25px 0;
    color: blanchedalmond;
}
#about-me {
    font-size: x-large;
    text-align: center;
    display: inline;
}
/*My current projects*/
#my-current-projects {
    font-size: x-large;
    text-align: center;
    display: inline;
}
/*Aspirations*/
#aspirations {
    font-size: x-large;
    text-align: center;
    display: inline;
}
/*Contact Me*/
#contact-me {
    font-size: x-large;
    text-align: center;
    display: inline;
}