
/*Body Style*/
body {
    background-color: grey;
}
/*Header Style*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-style: italic;
    color: blanchedalmond;
}
header a {
    text-decoration: none;
}
/*Image Style*/
img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 250px;
}
/*Navigation Style*/
header nav {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.55vw;
}
/*Section Style*/
.intro section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*About me Section*/
section h2  {
    padding: 50px 0 25px 0;
    color: blanchedalmond;
}
#about-me {
    font-size: x-large;
    text-align: center;
}
/*My current projects*/
#my-current-projects {
    font-size: x-large;
    text-align: center;
}
/*Aspirations*/
#aspirations {
    font-size: x-large;
    text-align: center;
}
/*Contact Me*/
#contact-me {
    font-size: x-large;
    text-align: center;
}